/**
 * Admin table styling for Runthings Taxonomy Tags to Checkboxes
 */

#taxonomy-table .check-column {
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #eee;
}

#taxonomy-table .check-column input[type="checkbox"] {
  margin-left: 0;
}

.tablenav.top {
  /* margin-top: 0; */
  padding-top: 0;
}

.tablenav.top p {
  margin-top: 0;
  padding-top: 0;
}

/* Post type code formatting */
#taxonomy-table .column-post_types code {
  display: inline-block;
  margin: 1px 2px;
  padding: 2px 5px;
  background-color: #f0f0f1;
  border-radius: 2px;
  font-size: 12px;
}
